<footer>
<div class="social">
      {% for item in social %}
        <a class="no-effect" title="{{ item.name }}" href="{{ item.url }}">
          <img class="keep-original" src="{{ item.icon }}" alt="{{ item.name }}" height="20" width="20">
        </a>
      {% endfor %}
    </div>
  <a href="{{ '/' | url }}" target="_blank">Sebastián Barrios
    &nbsp;&copy;&nbsp;
    {{ helpers.currentYear() }}
  </a>
  &nbsp;&bull;&nbsp;
  <a href="/about-the-notes/">
    About the notes
  </a>
  &nbsp;&bull;&nbsp;
  <a href="/about/">
    About me
  </a>
</footer>

{# elasticlunr #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/elasticlunr/0.9.6/elasticlunr.min.js"></script>


{% if env.environment != "local" %}
{# TODO: Add GA link #}
{% endif %}

<script async defer src="{{ "/src/js/min.js" | addHash }}"></script>