<nav class="bg-gray-50">
  <div id="nav">
    <a class="nav-item no-effect" href="{{ '/' | url }}">
      <img class="keep-original md:hidden " src="/img/nav/home.svg" alt="home" height="18" width="18">
      <span class="text-xl font-sans font-bold hidden md:block text-yellow-500">Sebastián Barrios</span>
    </a>
    <div id="nav-search" class="nav-search">
      <form>
        <input id="nav-search__input"
							 class="nav-search__input bg-gray-50 text-gray-500 placeholder-gray-500 placeholder-opacity-50 "
							 type="search"
							 onfocusin="inFocus(this)"
							 placeholder='search notes (press "/" to focus &#38; "ESC" to close)'
							 aria-label='search notes (press "/" to focus &#38; "ESC" to close)'
               autocomplete="off">
      </form>
      <div id="nav-search__result-container" class="bg-gray-50" style="display: none;">
        <ul id="nav-search__ul"></ul>
        <div id="nav-search__no-result" style="display: none;">
          <p>No results found.</p>
        </div>
      </div>
    </div>
    <a class="nav-item nav-github no-effect" href="https://github.com/sbarrios93" target="_blank">
      <img class="keep-original fill-current text-gray-700" src="/img/nav/github.svg" alt="github" height="20" width="20">
    </a>
  </div>
  <div id="reading-progress" aria-hidden="true"></div>

</div>
</nav>
<script async defer src="{{ "/src/js/search.js" | addHash }}"></script>