/*! purgecss start ignore */
.page-index {
  .container {
    padding: 2rem 1rem 0 1rem;
  }

  .main-cats {
    flex: 1;
    padding-right: 1rem;
    & > .category-wrapper {
      padding-bottom: 1.5rem;
      & > .category {
        @include box-bg(var(--code-bg), var(--code-bd));
        padding: 1.5rem 1.5rem;
        box-shadow: 8px 14px 38px #272c310f, 1px 3px 8px #272c3108;
      }
    }
  }

  .toc-index-container {
    position: sticky;
    top: 60px;
    height: fit-content;
    width: fit-content;

    .toc-index {
      h3 {
        @include toc-title();
      }
      ul {
        padding-left: 0;
        margin: 0;
        list-style: none;
        i {
          color: var(--color-invert);
          &::before {
            font-weight: normal;
          }
        }
        li {
          margin-bottom: 5px;
        }
      }
      .toc-active > a {
        font-weight: normal;
        color: var(--font-a) !important;
      }
    }

    .appendix-toc {
      padding: 5px 10px;
      margin-top: 1rem;
      font-size: 85%;
      width: 100%;
      color: var(--toc-appendix);
      border: 1px solid var(--toc-title-bd);
      display: flex;
      flex-direction: column;
    }
  }

  @media (max-width: $grid-lg - 1px) {
    .main-cats {
      flex: 1 1 100%;
      order: 2;
      padding-right: 0;
    }
    .toc-index-container {
      flex: 1 1 100%;
      order: 1;
      position: inherit;
      .toc-index {
        border: 3px double var(--color-faded);
        padding: 15px;
      }
      ul {
        @include column-count(3);
      }
      .appendix-toc {
        align-items: center;
        margin-bottom: 1rem;
        margin-top: 2rem;
        border: 0;
        padding: 0;
        flex-direction: row;
        div {
          margin-right: 10px;
          &:last-child {
            margin: 0;
          }
        }
      }
    }
  }

  @media (max-width: $grid-md - 1px) {
    .toc-index {
      ul {
        @include column-count(2);
      }
    }
  }

  @media (max-width: $grid-sm - 1px) {
    .toc-index {
      ul {
        @include column-count(1);
      }
    }
  }
}

.category {
  width: 100%;

  h2 {
    font-size: 1.55rem;
    margin-top: 0;
    color: var(--heading-color);
    i {
      margin-right: 5px;
    }
  }
  .list-homepage {
    @include column-count(1);
    @media (min-width: $grid-md) {
      @include column-count(2);
    }
    @media (min-width: $grid-lg) {
      @include column-count(3);
    }
  }
}

.page-index {
  header {
    .header-container {
      width: 100%;
      @media (min-width: $grid-xxl){
        width: $grid-xxl;
      }
      padding-right: 0;
      padding-top: 9rem; 
      padding-right: 1rem;
      align-items: unset;
      text-align: unset;


      h1 {
        font-size: calc(1.875rem + 1.5vw);
        font-weight: 800;
      }

      h2 {
        font-size: calc(1.3rem + 1.5vw);
        font-weight: 700;
        margin-top: 0.1rem;
      }
      p {
        max-width: 70rem;
        font-size: 1.1rem;
        line-height: 1.7rem;
        text-justify: distribute-all-lines;
      }

      p.intro {
        margin-top: 0;
      }
    }
    .header-logo {
      display: none;
    }
  }
}
/*! purgecss end ignore */
