<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
     <link rel="stylesheet" type="text/css" href="/assets/main.css" />
  </head>
  <body class='mx-auto'>
    {% include "../components/navigation.njk" %}
    <main class="px-2 py-20 sm:px-4">
      <h1 class="mb-8 text-3xl {{ 'hide-from-homepage' if homepage == true}}">{{title}}</h1>
      {{ content | safe }}
    </main>



    <script src="/assets/main.js"></script>

  </body>
</html>
