<!doctype html>
<meta charset="UTF-8">

<head>
  <html lang="en" class="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <link rel="stylesheet" type="text/css" href="/src/styles/main.css" />
  <script>
    // On page load or when changing themes, best to add inline in `head` to avoid FOUC
    if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
      document.documentElement.classList.add('dark');
    } else {
      document.documentElement.classList.remove('dark')
    }
  </script>
</head>

<body class='mx-auto bg-slate-50 dark:bg-[#001219] dark:font-[300] text-zinc-800  dark:text-sky-50/[.85]'>
  {% include "../components/navigation.njk" %}
  <main class="px-2 py-10 md:py-20 sm:px-4">
    <h1 class="mb-8 text-3xl {{ 'hide-from-homepage' if homepage == true}}">{{title}}</h1>
    {{ content | safe }}
  </main>

  <script src="https://unpkg.com/@themesberg/flowbite@1.2.0/dist/flowbite.bundle.js"></script>


  <script src="/src/scripts/main.js"></script>
</body>

</html>