---
title: Seba's Notes
homepage: true
layout: layouts/base.njk
---

<div class="space-y-16">
<div class="px-4 pt-0 mx-auto lg:container header-index ">
<div class="flex flex-col items-center md:flex-row">
<img src="/images/seba.jpg" alt="Sebastián Barrios" class="mx-auto rounded-full max-w-xxs md:hidden">
<div class="mr-5 space-y-4 basis-4/5 md:basis-3/5 ">
    <h1 class="text-4xl font-bold text-sky-800">👋</h1>
<h2 class="!mt-1 text-3xl font-bold smd:text-4xl text-sky-800">Hey, I am Sebastián Barrios</h2>
    <p class='text-lg dark:text-blue-50'>I am a grad student living in Chicago, originally from Chile.</p2>
  </br>
  <p class="leading-relaxed text-md text-slate-600 dark:text-blue-100">I've always had a passiong for technology, and I'm deeply interested in Machine Learning and AI. This place is where I store my thoughts and notes on different areas I'm interested in and also on some side projects.</p>

</div>
<div class="basis-1/5 md:basis-2/5">
<img src="/images/seba.jpg" alt="Sebastián Barrios" class="hidden align-middle rounded-lg md:object-center md:flex md:max-w-full">
</div>
</div>

  <div class="flex px-4 py-3 mt-8 leading-normal bg-yellow-200 rounded dark:bg-blue-300 bg-opacity-60" role="alert">
    <div class="flex-shrink">👀</div>
    <div class="w-full px-4">
      <strong>Note:</strong> this site is still work in progress, so some stuff might not look right.</div>
  </div>
  <div>
    <p class="text-sky-400">This is the project's home page. There is a little styling for demonstration purposes only.</p>
    <p>The navigation might as well be a sidebar, or a floating menu. This template provides the structure, make it yours ✌️</p>
</div>


  <a href="https://github.com/tomreinert/minimal-11ty-tailwind-starter" class="inline-block px-4 py-2 text-sm text-white uppercase bg-blue-600 rounded hover:bg-blue-700">Download on github</a>
</div>
</div>